@font-face {
  font-family: "Asap";
  src: url("asap-bold-webfont.woff2") format("woff2"),
    url("asap-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap";
  src: url("asap-bolditalic-webfont.woff2") format("woff2"),
    url("asap-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prime";
  src: url("courier_prime-webfont.woff2") format("woff2"),
    url("courier_prime-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prime";
  src: url("courier_prime_bold-webfont.woff2") format("woff2"),
    url("courier_prime_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: calc(1rem + 0.5vw);
  font-family: Prime, monospace;
  scroll-behavior: smooth;
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));

  --z-index_modal: 600;

  --r1: 4px;
  --r2: 8px;
  --r3: 12px;
  --r4: 16px;
  --r5: 20px;
  --r6: 24px;
  --r7: 32px;
  --r8: 48px;

  --color_shadow: hsla(201, 61.2%, 68.6%, 0.1);

  --shadow1: 0 0.375rem 0.375rem 0 var(--color_shadow);
  --shadow2: 0 0.75rem 0.75rem 0 var(--color_shadow);
  --shadow3: 0 1.5rem 1.5rem 0 var(--color_shadow);
  --shadow4: 0 3rem 3rem 0 var(--color_shadow);
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

body {
  background-color: #000;
  color: #fff;
  line-height: var(--ratio);
  overflow-x: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

p {
  text-align: left;
}

strong,
em,
dt {
  font-family: Asap, sans-serif;
}

em {
  font-weight: bold;
}

small {
  font-size: var(--s-2);
}

h1,
h2,
h3,
h4 {
  font-family: Asap, sans-serif;
  line-height: 1.125;
}

h1 {
  font-size: var(--s2);
}

h2 {
  font-size: var(--s5);
}

h3 {
  font-size: var(--s3);
}

img {
  max-width: 100%;
  height: auto;
}

dl > div {
  text-align: left;
}

dt,
dd {
  display: inline;
}

label {
  display: block;
  text-align: left;
  font-family: Asap, sans-serif;
  font-style: italic;
  margin-bottom: 0.25rem;
}

input {
  padding: 0.5rem;
  background-color: #000;
  border: 0.125rem solid;
  min-width: 0;
}

button {
  background-color: #fff;
  border: 0.125rem solid #fff;
  outline: 0.125rem solid #fff;
  color: #000;
  font-family: Asap, sans-serif;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  transition: border-color 0.2s linear;
}

button:hover {
  border-color: #000;
}

[type="submit"]:focus {
  text-decoration: underline;
}

.padded {
  padding: var(--padding, var(--s1));
}

.padded-h {
  padding: 0 var(--padding, var(--s1));
}

.spaced {
  margin: var(--spaced, var(--s1));
}

.spaced-h {
  margin: 0 var(--spaced, var(--s1));
}

.font-smaller {
  font-size: var(--s-1);
}

.text-center {
  text-align: center;
}

.screen {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 2.25rem);
  justify-content: center;
  align-items: center;
  padding: var(--s1);
}

.fixed {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #000;
}

.one-line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.pushed-right {
  margin-left: auto;
  margin-right: 0;
}

[class*="static"] {
  background-repeat: repeat-x;
  background-size: 2.5rem auto;
  background-position: center bottom;
  background-origin: padding-box;
  --static: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 150"><path fill="%23fff" stroke-width="0" d="M0,0 150,30 150,100 0,70z" /></svg>');
  background-image: var(--static);
  padding-bottom: var(--s7);
}

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}
